.hero {
    /* margin-top: 200px; */
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    /* height: 100%; */
    flex-direction: column;

    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20vh; */
    /* padding: 0px; */
    overflow-x: hidden;
    margin: 0px;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.hero_video {
    /* height: 100%; */
    /* background-color: green; */
    height: auto;
    width: 100%;
    max-width: unset;

}

.video_container {
    /* width: 100%; */
    width: 100%;
    
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* background-image: linear-gradient( to bottom ,  red ,  transparent  ); */

}




.hero_caption {
    position: relative;
    padding: 20px 30px;
    height: 100%;
    /* background-color: rgb(152, 152, 152); */
    display: flex;
    /* background-color: blue; */
    /* border: 1px solid green; */
    align-items: center;
    justify-content: center;
}

.hero_caption_image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    /* top: 0px; */
    height: 100%;
    transform: translate(-50%, -50%);

    display: none;
}

.hero_caption h3 {

    font-size: 60px;
    width: max-content;
    font-weight: bolder;
    /* background-color: red; */
    /* border-image: url("/public/hero_cation_border.svg"); */
}

.black_gradient {
    position: absolute;
    /* background-color: red; */
    background-image: linear-gradient(to top, black, transparent);
    /* border: 1px soild red; */
    height: 50px;
    width: 100%;
    bottom: 0px;

}

.reg_button {

    background-color: #B8FF0633;
    padding: 10px 40px;
    border: 1px solid #BDFF19;
    font-weight: bold;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
    position: absolute;
    top: 200px;
    z-index: 40;
    /* left: 0px;
     */
    right: 0%;
    width: 250px;
    animation: registratsion 2s ease-out;



}

.reg_button:hover {
    transform: scale(1.01);
    background-color: #92b53972;
}

.reg_button img {
    /* background-color: red; */
    /* width: 30px; */
}

@keyframes registratsion {

    0% {
        right: -80%;
    }

    100% {
        right: 0%;
    }


}

@media(max-width : 700px) {
    .video_container {
        /* width: 150vw; */
        width: 125%;

    }

    .hero_caption h3 {
        font-size: 40px;
        width: 70%;

    }

    .hero_caption {
        margin-top: 40px;
    }

    .reg_button{
        padding: 5px 25px;
        width: 180px;
        font-size: 12px;
    }
}

@media (max-width : 500px) {

    .hero_caption h3 {
        font-size: 40px;
        /* background-color: red; */
        width: 90%;
    }

}

.fade-image {
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}