@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "pixels";
  src: url("../../public/pixels.ttf");
}


@font-face {
  font-family: "tomorrow";
  src: url("../../public/tomorrow.ttf");
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  /* color: var(--foreground); */
  color: white;
  /* margin-top: 100px; */
  /* background: var(--background); */
  background-color: black;
  font-family: Tomorrow, sans-serif;
  overflow-x: hidden;
}
